.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  min-height: calc(100vh - 5rem);
  background-color: var(--color-dark--1);
}
.form {
  background-color: var(--color-dark--2);
  border-radius: 2rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  margin: 8rem auto;
}
.form input {
  color: var(--color-dark--1);
}
.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
